# Node Modules
node_modules/

# Environment Files
.env
.env.*

# Logs
logs
*.log
npm-debug.log*

# Build folders
dist/
build/

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db

# Coverage
coverage/

# Cache
.cache/